

  .addpro  {
    height: 20cm;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
    background-image: url(/src/assets/images/4393.jpg);

  }
  .addpro1{
    margin-left: 12.3cm;
  margin-top: 3.5cm;
    font-size: large;
    font-weight: bold;
   
    
  }

 
  .updatepro  {
    
    height: 20cm;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url(/src/assets/images/upprod.png);

  }
  .updatepro1{
    margin-left: 2cm;
    margin-top: 1cm;
      font-size: large;
      font-weight: bold;
      color: white;
    
  }
  .addproBu{
    margin-left: 6cm;
      text-align: center;
      font-size: large;
      border: none;
  }
  .updateprobutton{
    border-radius: 8px ;
    box-sizing: border-box;
    background-color: rgb(75, 75, 218);
      text-align: center;
      color: white;
      border: none;
  }
  