

  .addpro  {
    height: 19cm;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url(/src/assets/images/shop.png);

  }
  .addpro1{
    margin-top: 0cm;
    margin-left: 1cm;
    align-content: center;
    font-size: large;
    text-align: center;
    background-color: white;
    width: 15cm;
    height: 17cm;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em;
    
  }

 
  .updatepro  {
    
    height: 21cm;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url(/src/assets/images/pexels-nothing-ahead-4502492.jpg);

  }
  .updatepro1{
    margin-left: 11cm;
    margin-bottom: 2cm;
    background-color: white;
    font-size: large;
    width: 18cm;
    height: 17cm;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }

  