

.addware  {
  height: 20cm;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-image: url(/src/assets/images/18162.jpg);

}
.addware1{
  margin-left: 13cm;
  margin-top: 5cm;
    font-size: large;
    font-weight: bold;
  
}
.registerIn{
  border-radius: 1em;
  
}

.updateware  {
  height: 20cm;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-image: url(/src/assets/images/wall-with-white-background-line-lines-it.jpg);

}
.updateware1{
  margin-left: 13cm;
  margin-top: 3cm;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.updatewarebutton{
  margin-right: 12cm;
    text-align: center;
    font-size: large;
}


