  
  .login
  {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url(/src/assets/images/pexels-karolina-grabowska-5882683.jpg);

  }
  .login1{
    margin-left: 5cm;
    margin-top: 4cm;
    background-color: white;
    width: 10cm;
    height: 8cm;
    font-size: large;
    text-align: center;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }

