.productList {
    height: 20cm;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url(/src/assets/images/sl_012421_39970_26.jpg);
  }
  .hombutt{
    background-color: #edf3f9;
      color: black;
      padding: 14px 20px;
      border-radius: 20px;
      font-size: large;
      margin-left: 0.5cm;
      width: 20cm;
  }
  .addwarbutt{
    background-color: #f3f3f3;
      padding: 14px 20px;
      border-radius: 20px;
      font-size: large;
      color: black;
      margin-left: 32cm;
      width: 20cm;
  }
  