.productCard {
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: large;
    background-color:  #00000015;
}

.card-img-top{
    height: 4cm;
    width: 3cm;
    margin-top: 1cm;
    align-self: center;
}

