
.register
{
  height: 22cm;
  width: 100%;
  background-repeat: no-repeat;
  align-items: center;
  background-size: cover;
  background-image: url(/src/assets/images/pexels-dominika-roseclay-1036841.jpg);

}
.register1{
  margin-top: 2cm;
  margin-left: 20cm;
    align-content: center;
    font-size: large;
    text-align: center;
    width: 15cm;
    
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em;
  
}

.updateSv  {
  height: 21cm;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-image: url(/src/assets/images/pexels-nothing-ahead-4502492.jpg);

}
.updateSv1{
  margin-top: 2cm;
  margin-left: 11cm;
  background-color: white;
  width: 18cm;
  height: 12cm;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

