
.register
{
  margin: 10px;
  height: 15cm;
  background-repeat: no-repeat;
  align-items: center;
  background-image: url(/src/assets/images/add-user.png);
}
.register1{
 
  margin-left: 15cm;
  margin-top: 2cm;
    
    font-size: large;
    font-weight: bold;
  
}
.registerIn{
  border-radius: 1em;
  
}
.assi{
  background-image: url(/src/assets/images/assign.png);
  
    background-repeat: no-repeat;
    background-size: cover;
    height: 30cm;
}
.assign1{
 margin-top: 5cm;
margin-left: 5cm;
    
    font-size: large;
    font-weight: bold;
  
}
.assignButton {
  border-radius: 8px ;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  border: none;
  color: aliceblue;
  background-color: #50a621;
}

.updateuser
{
  margin: 10px;
  height: 20cm;
  background-repeat: no-repeat;
  align-items: center;
  background-image: url(/src/assets/images/updateUser.png);
}.updateuser1
{
  font-size: large;
    font-weight: bold;
}
.updateUsButton {
  border-radius: 8px ;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  border: none;
  background-color: rgb(107, 120, 132);
  color: aliceblue;
}