.userCard {
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: large;
    background-color:  #00000015;
}
.userdr {
    border-radius: 8px;
    text-align: right;
    color: #263487;
}
.supervCard {
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color:  #00000015;
    font-size: x-large;
}
.supervCardButton {
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin-left: 20cm;
    color: rgb(238, 77, 36);
    
    font-size: x-large;
}
.supervCard:hover {
    transform: scale(1,1);
    transform: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}.userCard:hover {
    transform: scale(1,1);
    transform: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}


