.userlist {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/src/assets/images/userlist.png);

  }
  .svlist {
    width: 100%;
    height: 20cm;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/src/assets/images/7096657.jpg);

  }
.abutton{
  background-color: #2689f3;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    font-size: large;
    margin-left: 0.5cm;
    width: 20cm;
}
.assign{
  background-color: #50a621;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    font-size: large;
    
    margin-left: 28cm;
    width: 20cm;
}
