.warehouseCard {
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: larger;
    background-color:  #00000015;
    
}

.wareHdr {
    border-radius: 8px;
    text-align: right;
    color: #263487;
}


.warehouseCard:hover {
    transform: scale(1,1);
    transform: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
