.warehouseCard {
    border-radius: 8px;
    border: 1px solid #cccccc;
    text-align: center;
    box-sizing: border-box;
    width: 7cm;
    height: 7cm;
    float: left;
    background-color: #e1dddd;
    margin: 0.5cm;
}




.warehouseCard:hover {
    transform: scale(1,1);
    transform: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
