.whlist {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url(/src/assets/images/na_feb_10.jpg);

  }
.warebutton{
  background-color: #f3bc26;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    font-size: large;
    margin-left: 28cm;
    width: 20cm;
}
.warebutton2{
  background-color: #2689f3;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    font-size: large;
    margin-left: 1cm;
    width: 20cm;
}